<!-- Estado financiero -->
<div class="px-6 py-4 border-b flex center-end animate-fadeSlideDown">
  <span [ngClass]="{
        'bg-orange-600': estadoFinancieroColor === 'rojo',
        'bg-sky-600': estadoFinancieroColor === 'azul',
        'bg-teal-600': estadoFinancieroColor === 'verde'
    }" class="text-white text-sm font-semibold px-4 py-2 rounded-full shadow-md">
    {{ estadoFinanciero }}
  </span>
</div>

<!-- Encabezado -->
<div class="flex items-center justify-between p-4 animate-fadeSlideDown">
  <h6 class="text-lg font-semibold text-gray-800">Tabla de Gastos</h6>

  <button (click)="openModal()" class="text-sky-700 font-medium px-3 py-1.5 rounded-md hover:bg-sky-50 transition">
    Agregar +
  </button>
</div>

<!-- Tabla de Gastos en una sola tabla -->
<div class="overflow-x-auto">
  <table class="w-full min-w-[640px] border-collapse text-sm border border-gray-200">
    <thead class="bg-sky-200 border-b">
      <tr>
        <th class="text-left py-2 px-3 sm:px-4">Descripción</th>
        <th class="text-left py-2 px-3 sm:px-4">Categoría</th>
        <th class="text-right py-2 px-3 sm:px-4">Gastado</th>
        <th class="text-right py-2 px-3 sm:px-4">Estimación</th>
        <th class="text-center py-2 px-3 sm:px-4">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expense of sortedExpenses; let i = index"
        class="border-t hover:bg-gray-50 opacity-0 animate-fadeSlideDown" [style.animationDelay]="0.1 + i * 0.05 + 's'">
        <td class="py-2 px-3 sm:px-4">{{ expense.descripcion }}</td>
        <td class="py-2 px-3 sm:px-4">{{ expense.categoria }}</td>
        <!-- Columna Gastado con colores según estimación -->
        <td class="py-2 px-3 sm:px-4 text-right" [ngClass]="{
              'text-red-600 font-bold': expense.valor > expense.estimacion,
              'text-teal-600 font-semibold': expense.valor === expense.estimacion
            }">
          ${{ formatCurrency(expense.valor) }}
        </td>
        <td class="py-2 px-3 sm:px-4 text-right">${{ formatCurrency(expense.estimacion) }}</td>
        <td class="py-2 px-3 sm:px-4 text-center">
          <button (click)="openAddModal(expense.id)" class="text-lime-600 mr-2">
            <span class="material-icons">add</span>
          </button>
          <button (click)="openEditModal(expense.id)" class="text-sky-700 mr-2">
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="openDeleteModal(expense.id)" class="text-orange-600">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr class="bg-gray-100 font-bold text-blue-900 border-t opacity-0 animate-fadeSlideDown"
        style="animation-delay:0.2s">
        <td class="py-3 px-3 sm:px-4 text-left">Totales Generales</td>
        <td></td>
        <td class="py-3 px-3 sm:px-4 text-right">Gastado: ${{ formatCurrency(getTotalExpenses()) }}</td>
        <td class="py-3 px-3 sm:px-4 text-right">Estimado: ${{ formatCurrency(getTotalEstimations()) }}</td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>


<!-- Modal de agregar gasto -->
<div *ngIf="isModalOpen" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50">
  <div class="bg-white p-6 rounded-lg shadow-lg w-96 animate-pop-in">
    <h2 class="text-xl font-bold mb-4 animate-fadeSlideDown">Agregar Nuevo Gasto</h2>
    <p class="text-gray-600 mb-4 text-sm animate-fadeSlideDown">Introduce los detalles del nuevo gasto.</p>

    <label class="block mb-2 animate-fadeIn">Descripción:</label>
    <input type="text" [(ngModel)]="newExpense.descripcion" placeholder="Ejm: Supermercado"
      class="w-full p-2 border rounded-md mb-3 animate-fadeIn" />

    <label class="block mb-2 animate-fadeIn">Categoría:</label>
    <select [(ngModel)]="newExpense.categoria" class="w-full p-2 border rounded-md mb-3 animate-fadeIn">
      <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
    </select>
    <!-- Campo de valor -->
    <label class="block mb-2 animate-fadeIn">Valor:</label>
    <input type="text" [value]="formatCurrency(newExpense.valor)" (input)="onExpenseValueInput($event)"
      placeholder="Ejm: 35.400" class="w-full p-2 border rounded-md mb-3 animate-fadeIn" />

    <!-- Mostrar billetera solo si valor > 0 -->
    <div *ngIf="newExpense.valor > 0" class="mb-3">
      <label class="block mb-2 animate-fadeIn">Selecciona billetera:</label>
      <select [(ngModel)]="selectedWalletExpense" class="w-full p-2 border rounded-md animate-fadeIn">
        <option value="" disabled>Selecciona billetera</option>
        <option *ngFor="let w of wallet" [value]="w.id">{{ w.tipo }}</option> <!-- Solo nombre -->
      </select>

      <!-- Mostrar saldo debajo en letras pequeñas -->
      <p *ngIf="selectedWalletExpense" class="text-gray-500 text-sm mt-1">
        ${{ getWalletBalance(selectedWalletExpense) }} disponibles
      </p>

    </div>



    <label class="block mb-2 animate-fadeIn">Estimación:</label>
    <input type="text" [value]="formatCurrency(newExpense.estimacion)"
      (input)="onNewExpenseValueInput($event, 'estimacion')" placeholder="Ejm: 30.000"
      class="w-full p-2 border rounded-md mb-3 animate-fadeIn" />


    <div class="flex justify-end gap-2">
      <button (click)="closeModal()" class="px-4 py-2 border rounded-md bg-white-700 hover:bg-slate-200 animate-fadeIn">
        Cancelar
      </button>
      <button (click)="addExpense()"
        class="px-4 py-2 bg-sky-700 text-white rounded-md hover:bg-slate-700 animate-fadeIn">
        Agregar
      </button>
    </div>
  </div>
</div>

<!-- Modal para adicionar valor a Gasto -->
<div *ngIf="isAddValueModalOpen" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50">
  <div class="bg-white p-6 rounded-lg shadow-lg w-80 animate-pop-in">
    <h2 class="text-xl font-bold mb-2 animate-fadeSlideDown">Agregar o Restar Valor</h2>
    <p class="text-gray-600 mb-4 text-sm animate-fadeSlideDown">Introduce un valor para agregar o restar a este gasto.
    </p>

    <!-- Campo de valor -->
    <label class="block mb-2 font-semibold animate-fadeIn">Valor:</label>
    <input type="text" [value]="formatCurrency(newValue)" (input)="onValueInput($event)" placeholder="Ej: 2000"
      class="w-full p-2 border rounded-md mb-4 animate-fadeIn" />

    <!-- Selección de billetera siempre visible -->
    <label class="block mb-2 animate-fadeIn">Selecciona billetera:</label>
    <select [(ngModel)]="selectedWallet" class="w-full p-2 border rounded-md mb-1 animate-fadeIn">
      <option value="" disabled>Selecciona billetera</option>
      <option *ngFor="let w of wallet" [value]="w.id">{{ w.tipo }}</option>
    </select>
    <p *ngIf="selectedWallet" class="text-gray-500 text-sm mt-1">
      ${{ getWalletBalance(selectedWallet) }} disponibles
    </p>
    <div class="flex justify-end gap-2">
      <div class="flex justify-end gap-2">
        <button (click)="closeAddValueModal()"
          class="px-4 py-2 border rounded-md bg-white-700 hover:bg-slate-200 animate-fadeIn">
          Cancelar
        </button>
        <button (click)="setAction('subtract')"
          class="px-4 py-2 bg-sky-700 text-white rounded-md hover:bg-slate-700 animate-fadeIn">
          Restar
        </button>
        <button (click)="setAction('add')"
          class="px-4 py-2 bg-teal-700 text-white rounded-md hover:bg-emerald-800 animate-fadeIn">
          Sumar
        </button>
      </div>

    </div>
  </div>
</div>

<!-- Modal para editar gasto -->
<div *ngIf="isEditModalOpen" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50">
  <div class="bg-white p-6 rounded-lg shadow-lg w-96 animate-pop-in">
    <h2 class="text-xl font-bold mb-4 animate-fadeSlideDown">Editar Gasto</h2>
    <p class="text-gray-600 mb-4 text-sm animate-fadeSlideDown">Edita los detalles del gasto.</p>

    <label class="block mb-2 animate-fadeIn">Descripción:</label>
    <input type="text" [(ngModel)]="editedExpense.descripcion" placeholder="Ej: Alquiler"
      class="w-full p-2 border rounded-md mb-3 animate-fadeIn" />

    <label class="block mb-2 animate-fadeIn">Categoría:</label>
    <select [(ngModel)]="editedExpense.categoria" class="w-full p-2 border rounded-md mb-3 animate-fadeIn">
      <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
    </select>

    <label class="block mb-2 animate-fadeIn">Valor:</label>
    <input type="text" [value]="formatCurrency(editedExpense.valor)" (input)="onEditValueInput($event, 'valor')"
      placeholder="Ej: 50.000" class="w-full p-2 border rounded-md mb-3 animate-fadeIn" />

    <label class="block mb-2 animate-fadeIn">Estimación:</label>
    <input type="text" [value]="formatCurrency(editedExpense.estimacion)"
      (input)="onEditValueInput($event, 'estimacion')" placeholder="Ej: 48.000"
      class="w-full p-2 border rounded-md mb-3 animate-fadeIn" />

    <div class="flex justify-end gap-2">
      <button (click)="closeEditModal()"
        class="px-4 py-2 border rounded-md bg-white-700 hover:bg-slate-200 animate-fadeIn">
        Cancelar
      </button>
      <button (click)="saveEditedExpense()"
        class="px-4 py-2 bg-sky-700 text-white rounded-md hover:bg-slate-700 animate-fadeIn">
        Guardar
      </button>
    </div>
  </div>
</div>

<!-- Modal para eliminar gasto -->
<div *ngIf="isDeleteModalOpen" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50">
  <div class="bg-white p-6 rounded-lg shadow-lg w-80 text-center animate-pop-in">
    <span class="material-icons text-red-600 mx-auto mb-4" style="font-size: 48px;">
      report_problem
    </span>
    <h2 class="text-xl font-bold mt-4 mb-2 animate-fadeSlideDown">¿Eliminar Gasto?</h2>
    <p class="mb-6 text-gray-700 animate-fadeSlideDown">¿Estás seguro de que deseas eliminar este gasto? Esta acción no
      se puede deshacer.</p>
    <div class="flex justify-center gap-2">
      <button (click)="closeDeleteModal()"
        class="px-4 py-2 border rounded-md bg-white-700 hover:bg-orange-200 animate-fadeIn">
        Cancelar
      </button>
      <button (click)="confirmDeleteExpense()"
        class="px-4 py-2 bg-orange-600 text-white rounded-md hover:bg-red-600 animate-fadeIn">
        Eliminar
      </button>
    </div>
  </div>
</div>

<!-- Toast  -->
<div *ngIf="showingToast"
  class="fixed bottom-4 right-4 bg-sky-700 text-white px-4 py-2 rounded shadow-md animate-fadeIn">
  {{ toastMessage }}
</div>
