<footer class="py-2 bg-white border-t border-gray-200">
  <div class="flex w-full flex-wrap items-center justify-center gap-6 px-4 md:justify-between">
    <p class="block font-sans text-sm font-normal text-sky-700">
      © 2025, Created by <span class="font-semibold">Juan Camilo Zarta</span>
    </p>
    <ul class="flex items-center gap-4">
      <li>
        <a href="https://juanzarta.github.io/GoldenPanda/" target="_blank"
          class="font-sans text-sm font-normal text-sky-700 hover:text-sky-500 transition-colors">
          Golden Panda
        </a>
      </li>
      <li>
        <a href="https://api.whatsapp.com/send/?phone=573128622945&text&type=phone_number&app_absent=0" target="_blank"
          class="font-sans text-sm font-normal text-sky-700 hover:text-sky-500 transition-colors">
          About Us
        </a>
      </li>
      <li>
        <a href="https://github.com/JUANZARTA" target="_blank"
          class="font-sans text-sm font-normal text-sky-700 hover:text-sky-500 transition-colors">
          GitHub
        </a>
      </li>
    </ul>
  </div>
</footer>
